body {
  text-align: center;
  background-color:  rgb(212, 225, 235);
}

.App-header {
  background-color: rgb(86, 130, 167);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border: solid black 1px;
}



